{% extends "siteweb/base.html" %}

{% block content %}

<h1>Artistes
    {% if user.is_authenticated %}
    <span style="font-size: 2.4rem">
        (
        <a href="{% url 'ajouter/artiste' %}">ajouter un artiste</a>
        )
    </span>
    {% endif %}
</h1>
<table class="u-full-width">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th>Date de mort</th>
            <th>Biographie</th>
        </tr>
    </thead>
    <tbody>
        {% for artiste in artistes %}
        <tr>
            <th><a href="{% url 'artiste' artiste.id %}">{{ artiste.prenom }} {{ artiste.nom }}</a></th>
            <th>
                {% if artiste.datenaissance %}
                    {{ artiste.datenaissance }}
                {% endif %}
            </th>
            <th>
                {% if artiste.datemort %}
                    {{ artiste.datemort }}
                {% endif %}
            </th>
            <th class="u-half-width">{{ artiste.biographie }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

