{% extends "siteweb/base.html" %}

{% block content %}

<h1>{{ artiste.prenom }} {{ artiste.nom }}
    {% if user.is_authenticated %}
    <span style="font-size: 2.4rem">
        (
        <a href="{% url 'mettreajour/artiste' artiste.id %}">mettre à jour</a>
        &bull;
        <a href="{% url 'supprimer/artiste' artiste.id %}">supprimer</a>
        )
    </span>
    {% endif %}
</h1>
{% if artiste.datenaissance %}
    <p>Date de naissance : {{ artiste.datenaissance }}</p>
{% endif %}
{% if artiste.datemort %}
    <p>Date de mort : {{ artiste.datemort }}</p>
{% endif %}
<p>Nationalité(s) : {% for nationalite in artiste.nationalites.all %}<a href="{% url 'nationalite' nationalite.id %}">{{nationalite.nom}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>Incarnation(s) : {% for incarnerpersonnage in artiste.incarnerpersonnage_set.all %}<a href="{% url 'personnage' incarnerpersonnage.personnage.id %}">{{incarnerpersonnage.personnage.nom}}</a> dans <a href="{% url 'film' incarnerpersonnage.film.id %}">{{incarnerpersonnage.film.titre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>Biographie : {{ artiste.biographie }}</p>

{% endblock %}
