{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>À l'huile ciné !</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- For mobile -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> <!-- Font -->
        <link rel="stylesheet" href="{% static "normalize.css" %}">
        <link rel="stylesheet" href="{% static "skeleton.css" %}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <a href="{% url 'index' %}">
                <img src="{% static "baniere.png" %}" alt="Banière"/>
                </a>
            </div>
            <div class="row">
                <a href="{% url 'index' %}">Accueil</a>
                &bull;
                <a href="{% url 'films' %}">Films</a>
                &bull;
                <a href="{% url 'artistes' %}">Artistes</a>
                &bull;
                <a href="{% url 'genres' %}">Genres</a>
                &bull;
                <a href="{% url 'nationalites' %}">Nationalités</a>
                &bull;
                <a href="{% url 'personnages' %}">Personnages</a>
                &bull;
                <a href="{% url 'incarnerpersonnages' %}">Incarnations</a>
                <span class="u-pull-right">
                    <a href="{% url 'haystack_search' %}">Recherche</a>
                    &bull;
                    {% if user.is_authenticated %}
                        Connecté en tant que {{ user.username }}. <a href="{% url 'django.contrib.auth.views.logout_then_login' %}">Se déconnecter</a>
                    {% else %}
                        <a href="{% url 'accounts/register' %}">Créer un compte</a>
                        &bull;
                        <a href="{% url 'django.contrib.auth.views.login' %}">Se connecter</a>
                    {% endif %}
                </span>
            </div>
            <div class="row">
                <hr/>
            </div>
            <div class="row">
                {% block content %}{% endblock %}
            </div>
            <div class="row">
                <hr/>
                <div style="text-align:center">
                    À l'huile ciné ! Project by David & Lisa. Copyright 2015. All rights reserved, lol.
                </div>
            </div>
        </div>
    </body>
</html>

