{% extends "siteweb/base.html" %}

{% block content %}

{% load siteweb_extras %}

<h1>Films
    {% if user.is_authenticated %}
    <span style="font-size: 2.4rem">
        (
        <a href="{% url 'ajouter/film' %}">ajouter un film</a>
        )
    </span>
    {% endif %}
</h1>
<table class="u-full-width">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Moyenne des notes</th>
            <th>Genre</th>
            <th>Date de sortie</th>
            <th>Synopsis</th>
        </tr>
    </thead>
    <tbody>
        {% for film in films %}
        <tr>
            <th><a href="{% url 'film' film.id %}">{{ film.titre }}</a></th>
            <th>{% if avg|get_item:film.id %}{{ avg|get_item:film.id|floatformat }}{% else %}Pas encore de notes{% endif %}</th>
            <th>{% for genre in film.genres.all %}{{genre.nom}}{% if not forloop.last %}, {% endif %}{% endfor %}</th>
            <th>{{ film.datesortie }}</th>
            <th class="u-sixty-width">{{ film.synopsis }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
