{% extends "siteweb/base.html" %}

{% block content %}

{% load siteweb_extras %}
{% load staticfiles %}

<img src="{% static "films" %}/{{film.titre}}.jpg" alt="Ce film n'a pas encore d'affiche" style="float:right" width=300px>
<h1>{{ film.titre }}
    {% if user.is_authenticated %}
    <span style="font-size: 2.4rem">
        (
        <a href="{% url 'mettreajour/film' film.id %}">mettre à jour</a>
        &bull;
        <a href="{% url 'supprimer/film' film.id %}">supprimer</a>
        )
    </span>
    {% endif %}
</h1>

<p>Moyenne des notes : {% if avg %}{{ avg|floatformat }}{% else %}Pas encore de notes{% endif %}<br/>
{% if user.is_authenticated %}
	{% if noteDejaAjoutee %}
		<a href="{% url 'mettreajour/noter' noteDejaAjoutee.0.id %}">Modifier votre note</a>
	{% else %}
		<a href="{% url 'ajouter/noter' film.id %}">Noter ce film</a>
	{% endif %}
{% endif %}
</p>

<p>Date de sortie : {{ film.datesortie }}</p>
<p>Genre(s) : {% for genre in film.genres.all %}<a href="{% url 'genre' genre.id %}">{{genre.nom}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>Nationalité(s) : {% for nationalite in film.nationalites.all %}<a href="{% url 'nationalite' nationalite.id %}">{{nationalite.nom}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>Acteur(s) : {% for acteur in film.acteurs.all %}<a href="{% url 'artiste' acteur.id %}">{{acteur.prenom}} {{acteur.nom}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>Réalisateur(s) : {% for realisateur in film.realisateurs.all %}<a href="{% url 'artiste' realisateur.id %}">{{realisateur.prenom}} {{realisateur.nom}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>Incarnation(s) : {% for incarnerpersonnage in film.incarnerpersonnage_set.all %}<a href="{% url 'personnage' incarnerpersonnage.personnage.id %}">{{incarnerpersonnage.personnage.nom}}</a> joué par <a href="{% url 'artiste' incarnerpersonnage.artiste.id %}">{{incarnerpersonnage.artiste.prenom}} {{incarnerpersonnage.artiste.nom}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>Synopsis : {{ film.synopsis }}</p>



<h3 style="text-align:center">Forum</h3>
<a href="{% url 'ajouter/message' film.forum.id %}">Poster un message</a>
<br/>
<br/>
{% for messageindente in forummessagesindentes %}
    <div class="row" style="margin-left:{{ messageindente.indentation }}em">
        <u>Message de {{ messageindente.message.envoyeur }} le {{ messageindente.message.dateenvoi }}</u><br/>
        {{ messageindente.message.texte }}
    </div>
    <div class="row" style="margin-left:{{ messageindente.indentation }}em">
    	<a href="{% url 'ajouter/message' film.forum.id messageindente.message.id %}">Répondre</a>
    </div>
    <br/>
{% endfor %}

{% endblock %}
