{% extends "siteweb/base.html" %}

{% block content %}

<h1>Genres
    {% if user.is_authenticated %}
    <span style="font-size: 2.4rem">
        (
        <a href="{% url 'ajouter/genre' %}">ajouter un genre</a>
        )
    </span>
    {% endif %}
</h1>
<table class="u-full-width">
    <thead>
        <tr>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        {% for genre in genres %}
        <tr>
            <th><a href="{% url 'genre' genre.id %}">{{ genre.nom }}</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

