{% extends "siteweb/base.html" %}

{% block content %}

<h1>{{ genre.nom }}
    {% if user.is_authenticated %}
    <span style="font-size: 2.4rem">
        (
        <a href="{% url 'mettreajour/genre' genre.id %}">mettre à jour</a>
        &bull;
        <a href="{% url 'supprimer/genre' genre.id %}">supprimer</a>
        )
    </span>
    {% endif %}
</h1>
<p>Film(s) : {% for film in genre.film_set.all %}<a href="{% url 'film' film.id %}">{{film.titre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>

{% endblock %}
