{% extends "siteweb/base.html" %}

{% block content %}

<h1>Incarnations
    {% if user.is_authenticated %}
    <span style="font-size: 2.4rem">
        (
        <a href="{% url 'ajouter/incarnerpersonnage' %}">ajouter une incarnation</a>
        )
    </span>
    {% endif %}
</h1>
<table class="u-full-width">
    <thead>
        <tr>
            <th>Personnage</th>
            <th>Acteur</th>
            <th>Film</th>
            {% if user.is_authenticated %}
            <th>Opérations</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for incarnerpersonnage in incarnerpersonnages %}
        <tr>
            <th><a href="{% url 'personnage' incarnerpersonnage.personnage.id %}">{{ incarnerpersonnage.personnage.nom }}</a></th>
            <th><a href="{% url 'artiste' incarnerpersonnage.artiste.id %}">{{ incarnerpersonnage.artiste.nom }}</a></th>
            <th><a href="{% url 'film' incarnerpersonnage.film.id %}">{{ incarnerpersonnage.film.titre }}</a></th>
            {% if user.is_authenticated %}
            <th><a href="{% url 'mettreajour/incarnerpersonnage' incarnerpersonnage.id %}">Mettre à jour</a> &bull; <a href="{% url 'supprimer/incarnerpersonnage' incarnerpersonnage.id %}">Supprimer</a> </th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

