{% extends "siteweb/base.html" %}

{% block content %}

<h1>Incarnation
    {% if user.is_authenticated %}
    <span style="font-size: 2.4rem">
        (
        <a href="{% url 'mettreajour/incarnerpersonnage' incarnerpersonnage.id %}">mettre à jour</a>
        &bull;
        <a href="{% url 'supprimer/incarnerpersonnage' incarnerpersonnage.id %}">supprimer</a>
        )
    </span>
    {% endif %}
</h1>
<p>Le personnage <a href="{% url 'personnage' incarnerpersonnage.personnage.id %}">{{ incarnerpersonnage.personnage.nom }}</a> est incarné par l'acteur <a href="{% url 'artiste' incarnerpersonnage.artiste.id %}">{{ incarnerpersonnage.artiste.prenom }} {{ incarnerpersonnage.artiste.nom }}</a> dans le film <a href="{% url 'film' incarnerpersonnage.film.id %}">{{ incarnerpersonnage.film.titre }}</a>.</p>

{% endblock %}
