{% extends "siteweb/base.html" %}

{% block content %}

<p>
Bienvenue sur <i>À l'huile ciné !</i>, une base de données en ligne qui référence films, acteurs, réalisateurs, et bien plus encore !<br/><br/>
Vous pouvez utiliser les liens ci-dessus pour naviguer dans la base de données. N'hésitez pas à vous enregistrer pour profiter d'encore de fonctionnalités :)
</p>

{% endblock %}
