{% extends "siteweb/base.html" %}

{% block content %}

<h1>{{ nationalite.nom }}
    {% if user.is_authenticated %}
    <span style="font-size: 2.4rem">
        (
        <a href="{% url 'mettreajour/nationalite' nationalite.id %}">mettre à jour</a>
        &bull;
        <a href="{% url 'supprimer/nationalite' nationalite.id %}">supprimer</a>
        )
    </span>
    {% endif %}
</h1>
<p>Artiste(s) : {% for artiste in nationalite.artiste_set.all %}<a href="{% url 'artiste' artiste.id %}">{{artiste.prenom}} {{artiste.nom}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>Film(s) : {% for film in nationalite.film_set.all %}<a href="{% url 'film' film.id %}">{{film.titre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>

{% endblock %}
