{% extends "siteweb/base.html" %}

{% block content %}

<h1>Nationalités
    {% if user.is_authenticated %}
    <span style="font-size: 2.4rem">
        (
        <a href="{% url 'ajouter/nationalite' %}">ajouter une nationalité</a>
        )
    </span>
    {% endif %}
</h1>
<table class="u-full-width">
    <thead>
        <tr>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        {% for nationalite in nationalites %}
        <tr>
            <th><a href="{% url 'nationalite' nationalite.id %}">{{ nationalite.nom }}</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

