{% extends "siteweb/base.html" %}

{% block content %}

<h1>Personnages
    {% if user.is_authenticated %}
    <span style="font-size: 2.4rem">
        (
        <a href="{% url 'ajouter/personnage' %}">ajouter un personnage</a>
        )
    </span>
    {% endif %}
</h1>
<table class="u-full-width">
    <thead>
        <tr>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        {% for personnage in personnages %}
        <tr>
            <th><a href="{% url 'personnage' personnage.id %}">{{ personnage.nom }}</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

