{% extends "siteweb/base.html" %}

{% block content %}

<h1>{{ personnage.nom }}
    {% if user.is_authenticated %}
    <span style="font-size: 2.4rem">
        (
        <a href="{% url 'mettreajour/personnage' personnage.id %}">mettre à jour</a>
        &bull;
        <a href="{% url 'supprimer/personnage' personnage.id %}">supprimer</a>
        )
    </span>
    {% endif %}
</h1>
<p>Incarnation(s) : {% for incarnerpersonnage in personnage.incarnerpersonnage_set.all %}<a href="{% url 'artiste' incarnerpersonnage.artiste.id %}">{{incarnerpersonnage.artiste.prenom}} {{incarnerpersonnage.artiste.nom}}</a> dans <a href="{% url 'film' incarnerpersonnage.film.id %}">{{incarnerpersonnage.film.titre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>

{% endblock %}
