{% extends "siteweb/base.html" %}

{% block content %}

<h1>Création d'un compte</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Valider"/>
</form>

{% endblock %}
