{% extends "siteweb/base.html" %}

{% block content %}

<h1>Suppression de l'artiste "{{artiste.prenom}} {{artiste.nom}}"</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <p>Voulez-vous vraiment supprimer l'artiste "{{artiste.prenom}} {{artiste.nom}}"?</p>
    <input type="submit" value="Supprimer" />
</form>

{% endblock %}
