{% extends "siteweb/base.html" %}

{% block content %}

<h1>Suppression d'une incarnation</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <p>Voulez-vous vraiment supprimer cette incarnation ?</p>
    <input type="submit" value="Supprimer" />
</form>

{% endblock %}
