{% extends "siteweb/base.html" %}

{% block content %}

<h1>Suppression du personnage "{{personnage.nom}}"</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <p>Voulez-vous vraiment supprimer le personnage "{{personnage.nom}}"?</p>
    <input type="submit" value="Supprimer" />
</form>

{% endblock %}
