{% extends 'siteweb/base.html' %}

{% block content %}

    

    <form method="get" action=".">
        <table id="formulaireRecherche">
        	<h2>Recherche</h2>
        	
            {{ form.as_table }}
            
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Rechercher">
                </td>
            </tr>
        </table>
		<div id="resultatRecherche">
		    {% if query %}
		        <h3>Résultats</h3>

		        {% for result in page.object_list %}
		            <p>
		                {{ result.rendered|safe }}
		            </p>
		        {% empty %}
		            <p>Aucun résultat.</p>
		        {% endfor %}

		        {% if page.has_previous or page.has_next %}
		            <div>
		                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Précédent{% if page.has_previous %}</a>{% endif %}
		                |
		                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Suivant &raquo;{% if page.has_next %}</a>{% endif %}
		            </div>
		        {% endif %}
		    {% else %}
		        {# Show some example queries to run, maybe query syntax, something else? #}
		    {% endif %}
		</div>
    </form>
{% endblock %}
